$font-uno: "Maven Pro", sans-serif;
$font-size: 3rem;
$font-span: 3.8rem;
$color-uno: rgba(29, 24, 31, 0.959);
$color-dos: rgba(230, 223, 203, 0.959);
$border-uno: solid black;
$margin-ud:  2rem 0 2rem 0;