/*Main*/
//Import de variables
@import "../_parciales/vars";
//elemento para poder usar operaciones
%align-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Este es el titulo de la pag de error*/
.body__main{
    @extend %align-flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    margin: $margin-ud;
    padding: 2rem;
    width: 100%;
    &__h1{
        font-family: $font-uno;
        font-size: 6rem;
        color: $color-dos;
        text-align: center;
        letter-spacing: 2px;
        @include movil{
            font-family: $font-uno;
        font-size: 2rem;
        color: $color-dos;
        text-align: center;
        letter-spacing: 2px;
        }
    }
}
/*Titulo que acompaña en todas los html*/
.main {
    @extend %align-flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    margin: $margin-ud;
    padding: 2rem;
    width: 100%;
    &__titulo {
        font-family: $font-uno;
        font-size: 4.5rem;
        color: $color-uno;
        text-align: center;
        letter-spacing: 2px;
        @include movil{
            font-family: $font-uno;
        font-size: 3rem;
        color: $color-uno;
        text-align: center;
        letter-spacing: 2px;
        }
    }
    &__h2 {
        font-family: $font-uno;
        font-size: 4rem;
        color: $color-uno;
        text-align: center;
        letter-spacing: 2px;
        @include movil{
            font-family: $font-uno;
        font-size: 2.5rem;
        color: $color-uno;
        text-align: center;
        letter-spacing: 2px;
        }
    }
}


