/*Section*/
//Import de variables
@import "../_parciales/vars";
@import "../_parciales/responsive";

//elemento para poder usar operaciones
%align-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Container grid de toda la secci칩n quienes somos*/
.containerQs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
    @include tablet {
        grid-template-columns: auto;
    }
    @include movil {
        grid-template-columns: auto;
    }
}
/*clase para acomodar las imagenes y el p치rrafo*/
.section__div {
    &__img {
        width: 340px;
        height: 430px;
        border: $border-uno;
        @include grandes {
            width: 420px;
            height: 510px;
            border: $border-uno;
        }
        @include normal {
            width: 340px;
            height: 430px;
            border: $border-uno;
        }
        @include tablet {
            width: 220px;
            height: 310px;
            border: $border-uno;
        }
        @include movil {
            width: 120px;
            height: 210px;
            border: $border-uno;
        }
    }
    &__img--otraFoto {
        height: 430px;
        width: 290px;
        border: $border-uno;
        @include grandes {
            height: 570px;
            width: 420px;
            border: $border-uno;
        }
        @include normal {
            height: 430px;
            width: 290px;
            border: $border-uno;
        }
        @include tablet {
            height: 370px;
            width: 220px;
            border: $border-uno;
        }
        @include movil {
            height: 270px;
            width: 120px;
            border: solid black;
        }
    }
    &__p {
        font-family: $font-uno;
        font-size: 2rem;
        color: $color-uno;
        letter-spacing: 1px;
        @extend %align-flex;
        flex-direction: row;
        text-align: center;
        padding: 10px;
        margin: 5px;
    }
    &--containerFotoQs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
/*clases section index*/
.div {
    &--flexIndex {
        @extend %align-flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    &__img {
        width: 280px;
        height: 380px;
        box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
        @include grandes {
            width: 380px;
            height: 480px;
            box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
        }
        @include normal {
            width: 280px;
            height: 380px;
            box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
        }
        @include tablet {
            width: 250px;
            height: 330px;
        }
        @include movil {
            width: 150px;
            height: 230px;
        }

        &--imgSecIndex {
            width: 380px;
            height: 380px;
            box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
            @include grandes {
                width: 480px;
                height: 480px;
                box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
            }
            @include normal {
                width: 380px;
                height: 380px;
                box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
            }
            @include tablet {
                width: 330px;
                height: 330px;
            }
            @include movil {
                width: 230px;
                height: 230px;
            }
        }
    }
    &__p {
        font-family: $font-uno;
        font-size: $font-size;
        color: $color-uno;
        font-weight: bolder;
        @extend %align-flex;
        text-align: center;
        letter-spacing: 1.5px;
        padding: 10px;
        margin: 5px;
        @include grandes {
            font-size: $font-size * 1.5;
        }
    }
}
/*section de nuclea*/
.div {
    &--nuclea {
        @extend %align-flex;
        flex-direction: column;
        margin: $margin-ud;
        width: 100%;
    }
    &__img {
        &--nuclea {
            height: 600px;
            width: 600px;
            border: $border-uno;
            box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
            @include tablet {
                height: 500px;
                width: 500px;
                border: $border-uno;
                box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
            }
            @include movil {
                height: 300px;
                width: 300px;
                border: $border-uno;
                box-shadow: 11px 10px 31px 15px rgba(128, 124, 128, 0.77);
            }
        }
    }
}
.div {
    &__p {
        &--nuclea {
            font-family: $font-uno;
            font-size: $font-size;
            color: $color-uno;
            @extend %align-flex;
            flex-direction: row;
            text-align: center;
            letter-spacing: 1px;
            padding: 10px;
            margin: 5px;
            @include movil {
                font-size: 2rem;
            }
        }
        &__span {
            font-family: $font-uno;
            font-size: $font-span;
            color: $color-uno;
            @extend %align-flex;
            flex-direction: row;
            padding: 10px;
            margin: 5px;
            font-weight: bold;
            letter-spacing: 2px;
            background-image: linear-gradient(
                to left bottom,
                #f8e06e,
                #f7e994,
                #f8f1b8,
                #fbf9db,
                #fffffe
            );
            @include movil {
                font-size: 2.8rem;
                align-self: center;
            }
        }
    }
    &--nucleaFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: $margin-ud;
        padding: 1rem;
    }
    &__div__a__img {
        height: 200px;
        width: 200px;
        border: $border-uno;
        margin: 1rem;
        &:hover {
            transform: scale(0.9);
        }
    }
    &--containerP {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &--containerPar {
        display: grid;
        grid-template-columns: 50% 50%;
        @include tablet {
            grid-template-columns: auto;
        }
        @include movil {
            grid-template-columns: auto;
        }
    }
}
/*section de productos*/
.section {
    &__art__h2 {
        font-family: $font-uno;
        font-size: 4rem;
        color: $color-uno;
        text-align: center;
        letter-spacing: 2px;
        @include movil {
            font-family: $font-uno;
            font-size: 2.5rem;
            color: $color-uno;
            text-align: center;
            letter-spacing: 2px;
        }
    }
    &__div {
        /*grid del segmento productos*/
        &--containerPro {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 2rem;
            justify-items: center;
            //mediaqueries del responsive
            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }
            @include movil {
                grid-template-columns: auto;
            }
        }
        &--containerProInd {
            @extend %align-flex;
            flex-direction: column;
            margin: $margin-ud;
            width: 100%;
        }
        &__a--pro {
            text-decoration: none;
        }
        &__div {
            /*tama침o y tranformaciones de las imagenes*/
            &__img {
                width: 300px;
                height: 400px;
                border: solid rgba(37, 37, 37, 0.637);
                &:hover {
                    transform: scale(1.2);
                }
                &--ind {
                    width: 400px;
                    height: 500px;
                    border: solid rgba(37, 37, 37, 0.637);
                    @include movil {
                        width: 300px;
                        height: 400px;
                        border: solid rgba(37, 37, 37, 0.637);
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    &:hover {
                        transform: scale(1.3);
                    }
                    &--js {
                        width: 200px;
                        height: 300px;
                        border: solid rgba(37, 37, 37, 0.637);
                    }
                }
            }
            &__p {
                font-family: $font-uno;
                font-size: 2rem;
                color: $color-uno;
                font-weight: bolder;
                @extend %align-flex;
                text-align: center;
                letter-spacing: 1.5px;
                padding: 10px;
                margin: 5px;
                &--tabla {
                    font-family: $font-uno;
                    font-size: 1.5rem;
                    color: $color-uno;
                    font-weight: bolder;
                    @extend %align-flex;
                    text-align: center;
                    letter-spacing: 1.5px;
                    padding: 10px;
                    margin: 5px;
                    background-color: whitesmoke;
                    border: solid 2px rgba(37, 37, 37, 0.637);
                }
            }
        }
    }
    &__section__a {
        display: flex;
        flex-direction: row-reverse;
        margin: 2rem;
        text-decoration: none;
        &--pro {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2rem;
            text-decoration: none;
        }
        &__img {
            width: 60px;
            height: 60px;
            color: gray;
            &:hover {
                border: 1px solid whitesmoke;
            }
        }
        &__button {
            font-family: $font-uno;
            font-size: 2rem;
            color: $color-uno;
            @extend %align-flex;
            text-align: center;
            letter-spacing: 1.5px;
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            border-color: rgba(0, 0, 0, 0.664);
            border-radius: 5%;
            background-color: whitesmoke;
        &__2{
            font-family: $font-uno;
            font-size: 2rem;
            color: $color-uno;
            @extend %align-flex;
            text-align: center;
            letter-spacing: 1.5px;
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            border-color: rgba(0, 0, 0, 0.664);
            border-radius: 5%;
            background-color: whitesmoke;
        }
        }

    }
}
/*clases correspondientes al container y dimensi칩n de las img del html de error*/
.article {
    &--container {
        @extend %align-flex;
        flex-direction: column;
        justify-items: center;
        flex-wrap: wrap;
        margin: $margin-ud;
        padding: 2rem;
        width: 100%;
    }
    &__h2 {
        font-family: $font-uno;
        font-size: 4rem;
        color: $color-dos;
        text-align: center;
        letter-spacing: 2px;
        &__a__button {
            font-family: $font-uno;
            font-size: 3.5rem;
            color: $color-uno;
            text-align: center;
            letter-spacing: 2px;
            margin: 2rem 2rem 0 2rem;
            padding: 1rem;
            border: solid black;
            border-radius: 10%;
        }
    }
}
.container {
    &--error {
        @extend %align-flex;
        flex-direction: column;
        justify-items: center;
        flex-wrap: wrap;
        margin: $margin-ud;
        padding: 2rem;
        width: 100%;
    }
    &__img {
        height: 220px;
        width: 180px;
    }
}

.botonJ {
    font-family: $font-uno;
            font-size: 3.5rem;
            color: $color-uno;
            text-align: center;
            letter-spacing: 2px;
            margin: 2rem 2rem 0 2rem;
            padding: 1rem;
            border: solid black;
            border-radius: 10%;
}